.App {
  text-align: center;
  background-color: rgb(151, 134, 248);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  flex-direction: column;
}
